<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>

    <main>
        <div>
          <h1>Timestamp Microservice</h1>
          <span>Example input: <code>/api/timestamp/2015-12-25</code></span>
          <br/>
          <span>Example output: <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code></span>
        </div>

    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>

</body>
</html>
